@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap');
*
{
    margin: 0;
    padding: 0;
    outline: none;
    font-family: 'Noto Sans KR', sans-serif;
}

header
{
	 color:black;
}

div
{
	color:black;
}

 textarea {
    width: 500px;
    height:110px;
    resize: none;
    
  }
  

body
{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background:#fff;
}
.container
{
    width: 500px;
    background: #fff;
    border-radius: 5px;
    text-align: center;
    padding: 90px 35px 10px 35px;
    margin-top: 80px;

}
.container header
{
    font-size: 35px;
    font-weight: 600;
    margin: 0 0 30px 0;
}
.container .form-outer
{
    width: 100%;
    overflow: hidden;
}
.form-outer form
{
    display: flex;
    width: 400%;
}
.form-outer form .page
{
    width: 25%;
    transition: margin-left 0.3s ease-in-out;
}
.form-outer form .page .title
{
    text-align: left;
    font-size: 25px;
    font-weight: 500;
}
.form-outer form .page .field
{
    height: 45px;
    width: 500px;
    margin: 45px 0;
    display: flex;
    position: relative;
}
.form-outer form .page .field.txtarea
{

    margin-bottom	: 120px;

}
.form-outer form .page .field .label
{
    position: absolute;
    top: -30px;
    font-weight: 500;
}
.form-outer form .page .field input
{
    height: 100%;
    width: 100%;
    border: 1px solid lightgray;
    border-radius: 5px;
    font-size: 18;
    padding-left: 15px;
}

.form-outer form .page .field input:focus {outline: 1px solid #000;}

form .page .field select
{
    width: 100%;
    padding-left: 10px;
    font-size: 17;
    font-weight: 500;
}
.form-outer form .page .field button
{
    height: calc(100%+5px);
    width: 100%;
    margin-top: -20px;
    border: none;
    background: black;
    border-radius: 5px;
    color: #fff;
    font-size: 18px;
    font-weight: 600;
    letter-spacing: 1px;
    text-transform: uppercase;
    cursor: pointer;
    transition: 0.3s ease;
}

.form-outer form .page .field button:hover
{ 
    background: #FF5C00;
}
    
.form-outer form .page .btns button
{
    margin-top: -20px!important;

}
form .page .btns button .prev{
    margin-right: 3px;
    font-size: 17px;
}
form .page .btns button .next{
    margin-right: 3px;
}
.container .progress-bar{
    display: flex;
    margin: 40px 0;
}
.container .progress-bar .step
{
    position: relative;
    text-align: center;
    width: 100%;
}
.progress-bar .step p{
    font-size: 18px;
    font-weight: 500;
    color: #000;
    margin-bottom: 8px;
    transition: 0.2s;
}
.progress-bar .step p.active
{
    color: #FF5C00;
}
.progress-bar .step .bullet
{
    position: relative;
    height: 25px;
    width: 25px;
    border: 2px solid #000;
    display: inline-block;
    border-radius: 50%;
    transition: 0.2s;
}
.progress-bar .step .bullet.active{
    border-color: #FF5C00;
    background: #FF5C00;
}
.progress-bar .step:last-child .bullet::before,
.progress-bar .step:last-child .bullet::after
{
    display: none;
}
.progress-bar .step .bullet::before,
.progress-bar .step .bullet::after
{
    position: absolute;
    content: '';
    bottom: 11px;
    right: -38px;
    height: 3px;
    width: 30px;
    background: #262626;
}
.progress-bar .step .bullet.active::after
{
    background: #FF5C00;;
    transform: scaleX(0);
    transform-origin: left;
    animation: animate 0.3s linear forwards;

}
@keyframes animate {
    100%{
        transform: scaleX(1);
    }
}
.progress-bar .step .bullet span
{
    font-weight: 500;
    font-size: 17px;   
    line-height: 25px;
    position: absolute;
    left: 50%;
    transform:  translate(-50%);
}
.progress-bar .step .bullet.active span
{
    display: none;
}
.progress-bar .step .check
{
	display:none;
    position: absolute;
    left: 50%;
    top: 70%;
    font-size: 15px;
    transform: translate(-50%,-50%);
}
.progress-bar .step .check.active
{
    display: block;
    color: #fff;
}
/*리뷰이미지업로드*/
.img-preview-big {
  width: 100%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  margin-bottom: 5px;
  position: relative;
}

.img-preview-big img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.img-preview-operate {
  height: 60px;
  white-space: nowrap;
  overflow-x: auto;
  overflow-y: hidden;
  display: flex;
}

.img-preview-small {
  display: inline-block;
  margin-right: 5px;
  height: 50px;
  width: 50px;
  position: relative;
  justify-content: center;
  align-items: center;
}

.img-preview-small img {
  height: calc(100% - 4px);
  width: calc(100% - 4px);
  object-fit: cover;
  padding: 2px;
  cursor: pointer;
}

.img-preview-operate button {
  padding: 0px;
  margin: 0px;
  background: transparent;
  border: none;
  height: 50px;
  width: 50px;
}

.img-preview-operate button img {
  width: 40px;
  height: 40px;
  object-fit: contain;
  vertical-align: middle;
}

.img-preview-operate::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #F5F5F5;
}

.img-preview-operate::-webkit-scrollbar {
  height: 6px;
  background-color: #F5F5F5;
}

.img-preview-operate::-webkit-scrollbar-thumb {
  background-color: #2F4356;
}

.img-upload-handler{
	position:relative;
}

.img-delete {
  background-color: rgba(0, 0, 0, 0.5);
  justify-content: center;
  align-items: center;
  cursor: pointer;
      display: none;
    width: 250px;
    height: 252px;
    position: absolute;
    top: 0px;
    left: 0px;
}

.img-delete img {
  height: 50px;
  width: 50px;
}

.img-small-active {
  outline: 2px solid;
}

.img-small-selected {
  outline: 2px solid;
}

.img-preview-big{
	max-width: 250px !important;
}


.img-upload-plugin{
  max-width: 250px;
}
