/*
 CSS for the main interaction
*/
.tabset>input[type="radio"] {
	position: absolute;
	left: -200vw;
}

.tabset .tab-panel {
	display: none;
}

.tabset>input:first-child:checked ~ .tab-panels>.tab-panel:first-child,
	.tabset>input:nth-child(3):checked ~ .tab-panels>.tab-panel:nth-child(2),
	.tabset>input:nth-child(5):checked ~ .tab-panels>.tab-panel:nth-child(3),
	.tabset>input:nth-child(7):checked ~ .tab-panels>.tab-panel:nth-child(4),
	.tabset>input:nth-child(9):checked ~ .tab-panels>.tab-panel:nth-child(5),
	.tabset>input:nth-child(11):checked ~ .tab-panels>.tab-panel:nth-child(6)
	{
	display: block;
}

/*
 Styling
*/
body {
	font: 16px/1.5em "Overpass", "Open Sans", Helvetica, sans-serif;
	color: #333;
	font-weight: 300;
}

.tabset>label {
	position: relative;
	display: inline-block;
	padding: 15px 15px 25px;
	border: 1px solid transparent;
	border-bottom: 0;
	cursor: pointer;
	font-weight: 600;
}

.tabset>label::after {
	content: "";
	position: absolute;
	left: 15px;
	bottom: 10px;
	width: 22px;
	height: 4px;
	background: #8d8d8d;
}

.tabset>label:hover, .tabset>input:focus+label {
	color: #06c;
}

.tabset>label:hover::after, .tabset>input:focus+label::after, .tabset>input:checked+label::after
	{
	background: #06c;
}

.tabset>input:checked+label {
	border-color: #ccc;
	border-bottom: 1px solid #fff;
	margin-bottom: -1px;
}

.tab-panel {
	padding: 30px 0;
	border-top: 1px solid #ccc;
}

/*
 Demo purposes only
*/
*, *:before, *:after {
	box-sizing: border-box;
}

body {
	padding: 30px;
}

.tabset {
	max-width: 1165em;
}

/* page 페이지 */
[data-pagination], [data-pagination] *, [data-pagination] *:before, [data-pagination] *:after
	{
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	font-kerning: auto;
}

[data-pagination] {
	font-size: 8pt;
	line-height: 1;
	font-weight: 400;
	font-family: 'Open Sans', 'Source Sans Pro', Roboto,
		'HelveticaNeue-Light', 'Helvetica Neue Light', 'Helvetica Neue',
		'Myriad Pro', 'Segoe UI', Myriad, Helvetica, 'Lucida Grande',
		'DejaVu Sans Condensed', 'Liberation Sans', 'Nimbus Sans L', Tahoma,
		Geneva, Arial, sans-serif;
	-webkit-text-size-adjust: 100%;
	margin: 1em auto;
	text-align: center;
	transition: font-size .2s ease-in-out;
}

[data-pagination] ul {
	list-style-type: none;
	display: inline;
	font-size: 100%;
	margin: 0;
	padding: .5em;
}

[data-pagination] ul li {
	display: inline-block;
	font-size: 100%;
	width: auto;
	border-radius: 3px;
}

[data-pagination]>a {
	font-size: 140%;
}

[data-pagination] a {
	color: #777;
	font-size: 100%;
	padding: .5em;
}

[data-pagination] a:focus, [data-pagination] a:hover {
	color: #f60;
}

[data-pagination] li.current {
	background: rgba(0, 0, 0, .1)
}
/* Disabled & Hidden Styles */
[data-pagination] .disabled, [data-pagination] [hidden], [data-pagination] [disabled]
	{
	opacity: .5;
	pointer-events: none;
}

@media ( min-width : 350px) {
	[data-pagination] {
		font-size: 10pt;
	}
}

@media ( min-width : 500px) {
	[data-pagination] {
		font-size: 12pt;
	}
}

@media ( min-width : 700px) {
	[data-pagination] {
		font-size: 14pt;
	}
}

@media ( min-width : 900px) {
	[data-pagination] {
		font-size: 16pt;
	}
}