<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
  
	<!-- 참조 : http://getbootstrap.com/css/   참조 -->
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	
	<!-- 툴바 include -->
	
	
</head>

<body>
<!-- 툴바 include -->
<div th:replace="/main/toolbarForAdmin.html"></div>
<div th:replace="/main/leftbarForAdmin.html"></div>


<!--  화면구성 div Start /////////////////////////////////////-->
<div class="coupon list">
<div class="container list">
	<div class="page-header text-info">
		       <h3 color="black">쿠폰목록</h3>
		</div>
		
				 <!-- table 위쪽 검색 Start /////////////////////////////////////-->
	    <div class="row">
	    
		    <div class="col-md-6 text-left">
		    	<p class="text-primary">
		    	<!--전체  ${resultPage.totalCount } 건수, 현재 ${resultPage.currentPage}  페이지   -->	
		    	</p>
		    </div>
	    	
		</div>
		<!-- table 위쪽 검색 Start /////////////////////////////////////-->
	<form>
	</form>
		
	 <input type="hidden" id="currentPage" name="currentPage" value=""/>
		 <!--  table Start /////////////////////////////////////-->
      <table class="table table-hover table-striped">
	       <thead>
	          <tr class="tableHeader">
	            <th align="center">No</th>
	            <th align="center" >쿠폰번호</th>   
	            <th align="center">쿠폰이름</th>
	            <th align="center">할인내용</th>
	            <th align="center">쿠폰발급일자</th>	
	            <th align="center">쿠폰만료일자</th>
	            <th align="center">쿠폰수정</th>				
	          </tr>
	        </thead>
	        
	        <tbody> 
			    <tr th:each="coupon,n :${list}" align="center">
			    	<td th:text = "${n.index+1}">
				    <td th:text = "${coupon.couponNo}"></td>
					<td th:text = "${coupon.couponName}"></td>
					<td th:text = "${coupon.discount}"></td>
					<td th:text = "${coupon.couponCreDate}"></td>
					<td th:text = "${coupon.couponDelDate}"></td>
					<td ><input type="button"></td>
			    </tr>
	        </tbody>

      </table>
		<!--  table End /////////////////////////////////////-->
		
	</div>
</div>
<!--  화면구성 div End /////////////////////////////////////-->



</body>

</html>