<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <script src="https://kit.fontawesome.com/a076d05399.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/addStorage.css">
    
    <!-- 아임포트 -->
	<script type="text/javascript" src="https://cdn.iamport.kr/js/iamport.payment-1.1.8.js"></script>
	<!-- 제이쿼리 -->
	<script src="/js/jquery_min.js"></script>
	<!-- 다음주소API-->
	<script src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
	
	
	
</head>
<body>

   <div th:replace="/main/toolbar.html"></div>

    <div class="container">
        <header> 장비보관 </header>
        <div class="progress-bar">
            <div class="step">
                <p>기본정보</p>
                <div class="bullet">
                    <span>1</span>
                </div>
                <div class="check fas fa-check"></div>
            </div>
            <div class="step">
                <p>상세정보</p>
                <div class="bullet">
                    <span>2</span>
                </div>
                <div class="check fas fa-check"></div>
            </div>
            <div class="step">
                <p>대여</p>
                <div class="bullet">
                    <span>3</span>
                </div>
                <div class="check fas fa-check"></div>
            </div>
            <div class="step">
                <p>주문자</p>
                <div class="bullet">
                    <span>4</span>
                </div>
                <div class="check fas fa-check"></div>
            </div>
            <div class="step">
                <p>주소</p>
                <div class="bullet">
                    <span>5</span>
                </div>
                <div class="check fas fa-check"></div>
            </div>
            <div class="step">
                <p>결제</p>
                <div class="bullet">
                    <span>6</span>
                </div>
                <div class="check fas fa-check"></div>
            </div>
        </div>
        <div class="form-outer">
            <form class="form-inline" name="detailForm" method="post" enctype="multipart/form-data">
            
                <div class="page slidepage">
                    <div class="title">Basic Info:</div>
                  <div class="field">
                        <div class="label">제품 사진 등록</div>
                         <input type="file" class="form-control" id="uploadFile" name="uploadFile"  multiple="multiple" placeholder="img"> 
                     
                    </div>
                    
                          <!--  <div class="main-wrapper">
  <div class="img-upload-plugin">
                    <div class="img-upload-handler">
                      <div class="img-preview-big">
                        <img src="https://uploader-assets.s3.ap-south-1.amazonaws.com/codepen-default-placeholder.png">
                        <div class="img-delete">
                          <img src="https://uploader-assets.s3.ap-south-1.amazonaws.com/codepen-delete-icon.png">
                        </div>
                      </div>
                    </div>
                    <div class="img-preview-operate">
                      <div class="img-holder" style="display: inline-block; padding: 2px;"></div>
                      <button type="button" class="img-add-more">
                        <img src="https://uploader-assets.s3.ap-south-1.amazonaws.com/codepen-add-more-btn.png">
                      </button>
                    </div>
                    <input type="file" name="uploadFile" multiple="multiple" style="display:none">
                  </div>
</div> -->
                    
                    <div class="field">
                        <div class="label">제품 이름</div>
                        <input type="text" name="prodName" value="텐트텐트"  >
                    </div>
                    <div class="field">
                        <div class="label">카테고리</div>
                        <select class="category" name= "category">
                            <option value="텐트">텐트</option>
                            <option value="침대">침대</option>
                            <option value="의자">의자</option>
                            <option value="그릴">그릴</option>
                            <option value="버너">버너</option>
                            <option value="조명">조명</option>
                            <option value="테이블">테이블</option>
                            <option value="식기">식기</option>
                            <option value="난로">난로</option>
                            <option value="기타용품">기타용품</option>
                        </select>
                    </div>
                    <div class="field nextBtn">
                        <button type="button">Next</button>
                    </div>
                </div>

                <div class="page">
                    <div class="title">Detail Info:</div>
                    <div class="field">
                        <div class="label">크기</div>
                        <input type="text"  name="width"  id="resv_width" > x
						<input type="text"  name="length"   id="resv_length"> x
						<input type="text"   name="height"   id="resv_height"> 
                    </div>
                    <div class="field txtarea">
                        <div class="label">상세정보</div>
                        <textarea name="prodDetail" id="prodDetail" class="textarea" height="200px"></textarea>
                    </div>
                    <div class="field">
                        <div class="label">보관기간</div>
                        <select class="period" name= "period" id="resv_period"  >
   
        				 <option  value=30>1개월</option>
	         			 <option  value=60>2개월</option>
	        			 <option   value=90>3개월</option>
	        			 <option  value=120>4개월</option>
	        			 <option   value=150>5개월</option>
	        			 <option  value=180>6개월</option>
	        			 
            		 </select>
                    </div>
                    <div class="field">
                        <div class="label">제품수량</div>
                       <input type="text"    name="prodQuantity"  size="3"  id="resv_quantity"   style="width:50px;"> 개
                    </div>
                    <div class="field">
                        <div class="label">대여가능</div>
                        <input type="checkbox"  name="isRental" value=1 id="input_check"> 보관한물품을 대여가능하게 합니다.
                    </div>
                    <div class="field btns">
                        <button type="button" class="prev-1 prev">Previous</button>
                        <button type="button" class="next-1 next">Next</button>
                    </div>
                </div>

                <div class="page">
                    <div class="title">대여관련정보:</div>
                    <div class="field">
                        <div class="label">물품대여가격</div>
                        <input type="text" name="rentalPrice" value=0 > 원
                    </div>
                    <div class="field">
                        <div class="label">보증금</div>
                        <input type="text" name="deposit"  value=0 > 원
                    </div>
                    <div class="field">
                        <div class="label">계좌번호</div>
                         <select class="accountBank" name= "accountBank"  style="width:130px;">
                            <option value="국민">국민</option>
	         				<option value="기업">기업</option>
	         				<option value="외환">외환</option>
	         				<option value="NH농협">NH농협</option>
	         				<option value="우리">우리</option>
                        </select>
                        <input type="text" name="accountNumber" value="" >
					    <input type="hidden"  class="account" name="account" value="" >
                    </div>
                    <div class="field btns">
                        <button type="button" class="prev-2 prev">Previous</button>
                        <button type="button" class="next-2 next">Next</button>
                    </div>
                </div>


                <div class="page">
                    <div class="title">주문자정보</div>
                    <div class="field">
                        <div class="label">주문하시는분</div>
                        <input type="text" name="receiverName" value="1234"  placeholder="주문하시는분의 이름을 적어주세요">
                    </div>
                    <div class="field">
                        <div class="label">핸드폰번호</div>
                        <input type="text" name="receiverPhone1" value="010" size="3" maxlength="3" option="regNum"  label="주문자 핸드폰번호"> -
						<input type="text" name="receiverPhone2" value="4114" size="4" maxlength="4" option="regNum"  label="주문자 핸드폰번호"> -
						<input type="text" name="receiverPhone3" value="9697" size="4" maxlength="4" option="regNum"  label="주문자 핸드폰번호">
						<input type="hidden" class="receiverPhone" name="receiverPhone" value="">
                    </div>
                    <div class="field btns">
                        <button type="button" class="prev-3 prev">Previous</button>
                        <button type="button" class="next-3 next">Next</button>
                    </div>
                </div>

                <div class="page">
                    <div class="title">픽업주소:</div>
                    <div class="field">
                        <div class="label">픽업주소 확인</div>
                         <input type="checkbox" onclick="ctrl_field(this.checked)"> 주문고객 정보와 동일합니다.
                    </div>
                    <div class="field">
                       <input type="hidden"  class="pickupAddress" name="pickupAddress" value=''>
				 	   <input type="text" id="pickup_postcode" name="pickupPostcode" placeholder="우편번호">
			    	   <input type="button" onclick="pickup_execDaumPostcode()" value="우편번호 찾기"><br>
	     			  <input type="text" id="pickup_address"  name="pickupBaseAddress" placeholder="주소"><br>
	     			  <input type="text" id="pickup_extraAddress"  name="pickupExtraAddress" placeholder="참고항목">
					  <input type="text" id="pickup_detailAddress"  name="pickupDetailAddress" placeholder="상세주소">
                    </div>
                    <div class="title">반송주소</div>
                    <div class="field">
                        <div class="label">반송주소 확인</div>
                       <input type="checkbox" onclick="ctrl_field(this.checked)"> 주문고객 정보와 동일합니다. 
                    </div>
                    <div class="field">
                        <input type="hidden"  class="divyAddress" name="divyAddress" value="">
		 			    <input type="text" id="divy_postcode" name="divyPostcode" placeholder="우편번호">
		 				<input type="button" onclick="divy_execDaumPostcode()" value="우편번호 찾기"><br>
	    			    <input type="text" id="divy_address"  name="divyBaseAddress" placeholder="주소" ><br>
	     				<input type="text" id="divy_extraAddress"  name="divyExtraAddress" placeholder="참고항목">
					    <input type="text" id="divy_detailAddress"  name="divyDetailAddress" placeholder="상세주소">
                    </div>
                    <div class="field btns">
                        <button type="button" class="prev-4 prev">Previous</button>
                        <button type="button" class="next-4 next">Next</button>
                    </div>
                </div>

                <div class="page">
                    <div class="title">결제금액:</div>
                    <div class="field">
                        <div class="label">쿠폰적용</div>
                        <select class="coupon" name= "coupon">
   						<option value=0>-- 선택 --</option>
   						
   						<!-- 여기서 쿠폰넘버를 어케 심ㅇ줄까.....???? -->
	       	 			<option class="couponValue" th:each="ownCoupon : ${list}" th:text="${ownCoupon.ownCoupon.couponName}" th:value="${ownCoupon.ownCoupon.discount}" th:data-coNo="${ownCoupon.ownCouponNo}" >
	       	 			</option>
  						
          </select>
                    </div>
                    <div class="field">
                        <div class="label">합계금액</div>
                        <div id="paper_delivery_msg1" style="display: block;"><input type="text"   id="resv_originPrice" class="originPrice" name="originPrice"  style="border:none;width:100px;text-align:right;"  readonly/> 원</div>
                        <div id="paper_delivery_msg2" style="display:none;width:160;text-align:right"></div>
                        <div id="paper_delivery_msg_extra" class="small red" style="display:none;"></div>
                        </select>
                    </div>
                    <div class="field">
                        <div class="label">할인금액</div>
                        <input type="text"  id="discountPrice" class="discountPrice" name="discountPrice" value=0 style="border:none;width:100px;text-align:right;" readonly/> 원
                        </select>
                    </div>
                     <div class="field">
                        <div class="label">최종 결제금액</div>
                         <input type="text"  id="resv_resultPrice" class="resultPrice"   name="resultPrice"   style="border:none;width:100px;text-align:right;" readonly/>원
                        </select>
                    </div>
                    <div class="field btns">
                        <button type="button" class="prev-5 prev">Previous</button>
                        <button type="button" class="submit">Submit</button>
                        
                        <!-- 결제시 필요한 우리측 주문번호 -->
                        <input type="hidden" name=tranNo th:value="${reserveTranNo}">
                        <input type="hidden" class="subCouponNo" name=ownCouponNo>
                       
                        
                    </div>
                </div>
            </form>
        </div>
    </div>
    <script src="/js/addStorage.js"></script>
    
</body>
</html>