<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
  
	<!-- 참조 : http://getbootstrap.com/css/   참조 -->
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	 <link rel="stylesheet" href="/css/addRentalReview.css">
	  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" >
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" >
	
	<!-- 아임포트 -->
	<script type="text/javascript" src="https://cdn.iamport.kr/js/iamport.payment-1.1.8.js"></script>
	
</head>
<style>
td{
	padding-bottom:10px !important;
}
.table{
	margin-bottom: 80px !important;
}
.page-header{
margin: 40px 0 0px !important;
border-bottom:3px solid #ddd !important;
}

	.tableBody td {
		width:33%;
 		vertical-align: middle !important;
	}
	
	.tableBody td > div {
		display:flex;
	}
	
	.tableBody td img{
		text-align:left;
		width:100px;
	}
	
	.tableBody td span{
		display:flex;
		align-items:center;
		padding:10px;
	}
	
	.borderTopNone{
		border-top:none !important;
	}
	.borderRight{
		border-right:1px solid #ddd;
	}
	.textCenter{
		text-align:center;
	}
	.borderBottom{
		border-bottom:1px solid #ddd;
	}
	.boxScroll {
    width: 96%;
    height: 130px;
    overflow: auto;
    BACKGROUND: #ffffff;
    COLOR: #585858;
    font: 9pt 돋움;
    border: 1px #dddddd solid;
    overflow-x: hidden;
    text-align: left;
    margin-left: 15px;
}



 input{
    border-radius: 10px;
    border: none;
    background: #efefef;
    margin: 6px;
    padding: 5px;
    font-size:14px;
}

.extend-btn{
	padding:5px;
	background:#262626;
	border:none;	
	border-radius:10px;
	color:#fff;
}



select{
		border: none;
		BACKGROUND: #efefef;
		border-radius:10px;
}
</style>
<body>

<!-- 로딩시 뜨는 아이콘 -->
	<!-- <div id="preloader">
		<div id="status">
			<img src="/images/content/spinnerfbfbfb.gif" id="preloader_image" alt="loader">
		</div>
	</div>
 -->




<!-- 
<div th:replace="/main/toolbarForAdmin.html"></div>
<div th:replace="/main/leftbarForAdmin.html"></div> -->

<!--  화면구성 div Start /////////////////////////////////////-->
<div class="container list">

				 <!-- table 위쪽 검색 Start /////////////////////////////////////-->
	   
		<!-- table 위쪽 검색 Start /////////////////////////////////////-->
		
	 <form class="form-inline" name="detailForm">

	
      
   <div style="margin-top:20px; color:#a76161; padding-bottom:10px;">
			결제정보
		</div> 
<div style="font-size:0;height:5px"></div>
<table width="100%" style="border:1px solid #DEDEDE;" cellpadding="0" cellspacing="0">
<tbody><tr>
	<td width="150" valign="top" align="right" bgcolor="#F3F3F3" style="text-align:center; padding-top:30px;">
		결제금액
	</td>
	<td style="padding:10px">

	<table>
	<colgroup><col width="100">
	</colgroup><tbody>
	<tr>
		<td>연장기간</td>
		<td>
	   <select class="period" name= "period" id="resv_period"  >
   
        		<option  value=0>선택</option>
        		<option  value=30>1개월</option>
	         	<option  value=60>2개월</option>
	        	<option   value=90>3개월</option>
	        	<option  value=120>4개월</option>
	        	<option   value=150>5개월</option>
	        	<option  value=180>6개월</option>
	        			 
       </select>
		 
		</td>
	</tr>
	
	
	
		<tr>
		<td>쿠폰적용</td>
		<td>
			 <select class="coupon" name= "coupon">
   
        	 <option value=0>-- 선택 --</option>
   						
   			 <!-- 여기서 쿠폰넘버를 어케 심ㅇ줄까.....???? -->
	         <option class="couponValue" th:each="ownCoupon : ${list}" th:text="${ownCoupon.ownCoupon.couponName}" th:value="${ownCoupon.ownCoupon.discount}" th:data-coNo="${ownCoupon.ownCouponNo}" >
	       	 </option>
	       
  
          </select>
		
		</td>
	</tr>
	
	<tr>
		<td>합계금액</td>
		<td><input type="text"   id="resv_originPrice" class="originPrice" name="originPrice"  style="border:none;width:100px;text-align:right;"  readonly/> 원</td>
	</tr>
	<tr>
		<td>할인금액</td>
		<td>
		 <input type="text"  id="discountPrice" class="discountPrice" name="discountPrice" value=0 style="border:none;width:100px;text-align:right;" readonly/> 원
		</td>
	</tr>


	<tr>
		<td>최종 결제금액</td>
		<td><input type="text"  id="resv_resultPrice" class="resultPrice"   name="resultPrice"   style="border:none;width:100px;text-align:right;" readonly/>원</td>
	</tr>
	</tbody></table>
	</td>
</tr>
</tbody>

</table>
<div style="padding:20px; margin-bottom:70px; margin-top:40px;" align="center" class="noline">
	<button type="button" class="extend-btn">기간연장</button>

</div>
	<!-- 기존 tranNo -->
	 <input type="hidden"  name="tranNo"  th:value="${storage.tranNo}"> 
	</form>
	
	<!-- 기간연장시 계산을 위해 필요한값들 -->
	 <input type="hidden"  name="width"  th:value="${storage.storageProd.width} " id="resv_width" > 
	 <input type="hidden"  name="length" th:value="${storage.storageProd.length}" id="resv_length"> 
	 <input type="hidden"   name="height" th:value="${storage.storageProd.height}"  id="resv_height"> 
	 <input type="hidden"   name="prodQuantity" th:value="${storage.storageProd.prodQuantity}"  id="resv_quantity"> 
	
	<!-- 결제전 필요한 tranNo -->
	 <input type="hidden"   name="reserveTranNo" th:value="${reserveTranNo}" > 
	
</div>
<!--  화면구성 div End /////////////////////////////////////-->

 
</body>
<script src="/js/jquery_min.js"></script>


	<script>
	$(document).ready(function() {
		
		// 기간연장에 따라 실시간 가격변경
		 var calculatePrice = Math.round($("#resv_width").val() * $("#resv_length").val() * $("#resv_height").val() * $("#resv_quantity").val() * 0.04);
		
		$("#resv_period").on("propertychange change paste input", function() {
			
		   
		    var resv_period = fnReplace($("#resv_period").val());
		   
		    $("#resv_originPrice").val(resv_period * calculatePrice);
		    $("#resv_resultPrice").val(resv_period * calculatePrice);
		});
		
		$(".extend-btn").on("click", function(){
				 
			request_pay();
		 })
		
		
 
	})
	
	function fnReplace(val) {
	    var ret = 0;
	    if(typeof val != "undefined" && val != null && val != ""){
	        ret = Number(val.replace(/,/gi,''));
	    }
	    return ret;        
	}
	
	
	//쿠폰선택시 총결제금액만 변경
	 $(function(){
	    	
	  
	    	$(".coupon").on("click",function(){
	    		
	    		if($(".coupon option:selected").val()!=="-- 선택 --"){    			
	    			       		    			   
	    	    	    var originPrice =    $("#resv_originPrice").val();
	    	    	    console.log(originPrice);
	    	    		
	    	    	   
	    	    	    //금액할인 퍼센트할인에 따라 할인금액을 계산
	    	    	    if($(".coupon option:selected").val()<1){
	    	    	    	
	    	    	    	 var discountPrice = Math.round(originPrice * $(".coupon option:selected").val());
							console.log("discountPrice:"+ discountPrice);
	    	    	    	
	    	    	    } else{
	    	    	    	
	    	    	    	var discountPrice =  $(".coupon option:selected").val().replace(".0","")
	    	    	    	console.log("discountPrice:"+discountPrice);
	    	    	    	
	    	    	    }
	    	    	    
	    	    	    	$('#discountPrice').val(discountPrice);
	    	    	    	
		    	    	    var resultPrice = originPrice - discountPrice;
		    	    	    console.log(resultPrice);
		    	    	    
	    	    	    //계산값 텍스트 대체 , 할인금액 >=계산금액일때 계산불가
	    	    	    if(resultPrice<=0){
								 $('#resv_resultPrice').val("양심어디....? ㅡ.ㅡ;");
						} else{
							
	    	    	    	$('#resv_resultPrice').val(resultPrice);
							
						}
							
	    		} else {
	    			
	    			 $('#discountPrice').val(0);
	    			 $('#resv_resultPrice').val($("#resv_originPrice").val());
	    		}
	    	 
	    	})
	    	 
	    })
	
	//아임포트 결제
	    function request_pay(){
			
			IMP.init("imp88340030");
			
			var reserveTraNo = $("input[name='reserveTranNo']").val();
				
			 IMP.request_pay({
			    	pg : "html5_inicis", 
			        pay_method : 'card',
			        merchant_uid : reserveTraNo,//주문번호
			        name :"연장한 물품",
			        amount :  $("input[name='resultPrice']").val(),
			    }, function(rsp) {
	    	console.log(rsp);
	    	$.ajax({

	        	type : "POST",
	        	url : "/payment/json/verifyIamport?imp_uid=" + rsp.imp_uid 
	        	
	        }).done(function(data) {
	        	
	        	console.log(data);
	        	
	        	if(rsp.paid_amount == data.response.amount){
		        	alert("결제 및 결제검증완료");
		        	
		        		$('form').attr('method', 'POST').attr('action', '/storage/extendStorage?paymentNo='+rsp.imp_uid).submit();
		        		
		        	
		        	
	        	} else {
	        		alert("결제 실패");
	        	}
	        });
	    });
			
			
		}
	    
	</script>
	
	<!--  <script src="/js/custom.js"></script> -->
<!-- <script src="/js/custom.js"></script> -->
</html>