
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>보관등록페이지</title>
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"
        integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous" />
</head>

<body>

  <div th:replace="/main/toolbar.html"></div>
		<div th:replace="/main/leftbar.html"></div> 


    			<div id="mobile" class="width_calc">
		
		<div class="try_banner_slider_wrapper">
			<div class="try_circle_first">
				<img src="/images/header/right_cycle1.png" alt="circle">
			</div>
			<div class="try_circle_second">
				<img src="/images/header/right_cycle2.png" alt="circle">
			</div>
			<div class="try_banner_slider_inner_wrapper">
				<div id="carousel-example-generic2" class="carousel slide" data-ride="carousel">
					
				</div>
			</div>
		</div>
		<!--try Slider banner End-->
		<!--try recent mobail Slider Start-->
		<div class="try_recent_mobail_main_wrapper">
			<div class="container">
				<div class="row">
					<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
						<div class="try_recent_mob_heading_wrapper">
							<h2>렌탈마켓</h2>
							<p><span class="try_left_dots"></span>아몰랑~~<span class="try_right_dots"></span>
							전체 <span th:text="${resultPage.totalCount}"/>건
							</p>
						</div>
					</div>
					<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
						<div class="try_rc_slider_inner_wrapper">
							<div class="owl-carousel owl-theme">
							
							<!-- 물품하나 -->
								<div class="item" th:each="product :${list}">
									<div class="try_rc_mob_box_wrapper">
										<div class="try_rc_mob_img">
											<img width="300" height="205" src= th:text=${product.prodImg}>
										<!--		<!--	<h5>Sale</h5>  -->  
											<a href="#"><i class="fa fa-heart"></i></a>
										</div>
										<div class="try_rc_mob_img_cont">
											<h2 th:text = ${product.prodName}></h2>
										</div>
										<div class="try_rc_mob_img_cont_bottom">
											<p th:text = ${product.rentalPrice}></p>	
											<p th:text = ${product.deposit}></p>
											<div class="try_mob_btn_wrapper">	<a  th:href="@{/product/getProduct(prodNo= ${product.prodNo})}" >Buy Now</a>
											</div>
										</div>
									</div>
								</div>
								<!-- 물품하나 -->
								
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</body>

</html>