
<style>
	.try_bottom_footer_wrapper{
	padding-bottom: 20px;
	}
	
	.rowFooter{
		display:unset;
		/* justify-content:center; */
	}
	
	.try_footer_main_section_wrapper{
		/*bottom:0px;*/ 
	}
	
	.try_footer_third_sec_wrapper{
		width:110%;
	}
	
</style>
	<div class="try_footer_main_section_wrapper">
		<div class="container">
			<div class="rowFooter">
				<div class="col-lg-3 col-md-4 col-sm-12 col-xs-12">
					<div class="try_footer_first_sec_wrapper">
						<a style="color:rgba(255, 255, 255, 0.58) !important;">FOR REST</a>
						<h4>포레스트닷컴 내 매거진, 스토어 등 포레스트닷컴 자체 생성 콘텐츠는 포레스트닷컴 및<br/> 포레스트 계약업체에 저작권이 있습니다.</h4>
						<h5>Email &nbsp;&nbsp;: &nbsp;&nbsp;<a>forrest@forrestme.com</a></h5>
					</div>
				</div>
				<div class="col-lg-4 col-lg-offset-1 col-md-4 col-sm-12 col-xs-12">
					<div class="try_footer_second_sec_wrapper">
						<h3 style="color:#9f9f9f  !important; font-weight:bold;">고객센터</h3>
						<ul style="color:rgba(255, 255, 255, 0.58) !important;">
							<li><span class="text-align-left" >고객센터</span><span class="text-align-right"></span>
							</li>
							<li><span class="text-align-left">1544 - 7199
</span><span class="text-align-right"></span>
							</li>
							
							<li><span class="text-align-left">평일 오전 9시 - 오후 6시</span><span class="text-align-right"></span>
							</li>
							<li><span class="text-align-left"></span><span class="text-align-right"></span>
							</li>
							
						</ul>
					</div>
				</div>
				<div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
					<div class="try_footer_third_sec_wrapper">
						<h3 style="color:#9f9f9f  !important;  font-size: 15px; line-height: 1.5;">포레스트에서 판매되는 모든 브랜드 제품은 정식제조, <br/>정식수입원을 통해 유통되는 100% 정품임을 보증합니다.</h3>
				
						<h4 style="color:#9f9f9f  !important;  font-size: 15px; line-height: 1.5;">상품, 상품정보, 거래에 대한 책임이 제한될 수 있으므로, <br/>각 상품 페이지에서 구체적인 내용을 확인하시기 바랍니다.</h4>
						<!-- <ul>
							<li><a href="#"><i class="fa fa-facebook"></i></a>
							</li>
							<li><a href="#"><i class="fa fa-twitter"></i></a>
							</li>
							<li><a href="#"><i class="fa fa-youtube-play"></i></a>
							</li>
							<li><a href="#"><i class="fa fa-google-plus"></i></a>
							</li>
							<li><a href="#"><i class="fa fa-linkedin"></i></a>
							</li>
						</ul> -->
					</div>
				</div>
				<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
					<div class="try_bottom_footer_wrapper">
						<p>Copyright © 2021 <a href="#">FORREST</a> | All rights reserved</p>
						</p>
					</div>
				</div>
			</div>
		</div>
	</div>
	

	