<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>

</head>
<body>

	<div id="map" style="width:500px;height:400px;"></div>
	
	<!-- https://map.kakao.com/link/map/18577297 : 장소ID로 지도 바로가기 URL제공 -->
<script type="text/javascript" src="//dapi.kakao.com/v2/maps/sdk.js?appkey=4990d004ae4be7c2dd1f8ce139e65e71"></script>
<script>
var container = document.getElementById('map'); //지도를 담을 영역의 DOM 레퍼런스
var options = { //지도를 생성할 때 필요한 기본 옵션
	center: new kakao.maps.LatLng(33.450701, 126.570667), //지도의 중심좌표.
	level: 3 //지도의 레벨(확대, 축소 정도)
};

var map = new kakao.maps.Map(container, options); //지도 생성 및 객체 리턴
</script>

</body>

</html>