  <h1>중고거래 게시물 등록</h1>
  <div class="contact">
  <form method="post" enctype="multipart/form-data"  action="#" id="image-form">
		<input type="hidden" name="cateName" id="cateName" value="" />
		
		
		<select>
			  <option value="title">카테고리</option>
			  <option value="mr">텐트</option>
			  <option value="mrs">침대</option>
			  <option value="ms">조명</option>
			  <option value="dr">테이블</option>
			</select>
			
	 	<div id="reviewTitle" class="form-group">
		    <label for="boardTitle" class="col-sm-offset-1 col-sm-1 control-label">제목</label>
		    <div class="col-sm-8">
		      <input type="text" class="form-control" id="reviewTitle" name="reviewTitle" placeholder="제목" >
		    </div>
		    
		</div>
		
			 	

		
	 	<div class="form-group">
		    <label for="reviewContent" height=100px class="col-sm-offset-1 col-sm-1 control-label">내용</label>
		    <div class="col-sm-8" height=100px>
		      <textarea class="form-control col-sm-5" rows="5" name="reviewContent"
						placeholder="내용" style="resize: none"></textarea>
		    </div>
		</div>
		<div class="three_col">
			<select>
			  <option value="title">Title</option>
			  <option value="mr">MR</option>
			  <option value="mrs">MRS</option>
			  <option value="ms">MS</option>
			  <option value="dr">DR</option>
			</select>
			<input type="text" name="fname" placeholder="First Name" class="default" msg="Error for First name">
			<span class="error"></span>
			<input type="text" name="lname" placeholder="Last Name" class="default" msg="Error for Last name">
			<span class="error"></span>
		</div>
		<div class="one_col email">
			<input type="text" name="email" placeholder="Email Address" class="default" msg="Please enter a valid email">
			<span class="error"></span>
		</div>
		<div class="one_col">
			<input type="text" name="website" placeholder="Website" class="default" msg="Error for website">
			<span class="error"></span>
		</div>
		<div class="one_col">
			<textarea rows="4" cols="20" placeholder="Message"></textarea>
			<span class="error"></span>
		</div>
		<div class="one_col file-upload">
			<div id="file"><ul id="image-list"><p>Click or Drag in an image to upload</p></ul></div>
			<input type="file" class="file" name="images" id="images"/>
			<span class="error"></span>
		</div>
		<div class="one_col">
			<input id="submit" type="submit" value="Submit" />
		</div>
		<span class="clear"></span>
	</form>
</div>

<script type="text/javascript"> 

$(function() {
	
	//==> DOM Object GET 3가지 방법 ==> 1. $(tagName) : 2.(#id) : 3.$(.className)
	$( "#submit" ).on("click" , function() {
		
		fncAddOld();
	});
});

function fncAddOld(){
	var oldTitle= $('input[name="oldTitle"]').val();
	alert(title)
	var oldDetail=$('textarea[name="OldDetail"]').val();
	alert(content)
	$("form").attr("method" , "POST").attr("action" , "/oldd/addOld").submit();

	
}
</script>