<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Document</title>
<link rel="stylesheet" href="/css/addOld.css">

</head>
<body>




	<div class="container">
		<header> 중고 거래 등록 </header>
		<div class="progress-bar">
			<div class="step">
				<p>사진, 이름, 카테고리, 가격</p>
				<div class="bullet">
					<span>1</span>
				</div>
			</div>
			<div class="step">
				<p>상세 설명</p>
				<div class="bullet">
					<span>2</span>
				</div>
			</div>
		</div>
		<div class="form-outer">
			<form id="review-form" action="/old/addOld" method="post" enctype="multipart/form-data">
			
				<div class="page slidepage">
					

					<input type="hidden" id="oldImg" name="oldImg" value="2.jpg" />
<!-- 					<div class="form-group"> -->
					
<!-- 						 <div class="field"> -->
<!--                         <div class="label">제품 사진 등록</div> -->
<!--                          <input type="file" class="form-control" id="uploadFile" name="uploadFile"  multiple="multiple" placeholder="img" -->
<!--                        />  -->
                     
<!--                     </div> -->
<!-- 					</div> -->
					
<!-- 			뉴 -->


					<div class="main-wrapper">
	  					<div class="img-upload-plugin">
		                    <div class="img-upload-handler">
			                    <div class="img-preview-big">
				                    <img src="https://uploader-assets.s3.ap-south-1.amazonaws.com/codepen-default-placeholder.png">
				                    <div class="img-delete">
				                    <img src="https://uploader-assets.s3.ap-south-1.amazonaws.com/codepen-delete-icon.png">
				                    </div>
			                    </div>
		                    </div>
		                    <div class="img-preview-operate">
			                    <div class="img-holder" style="display: inline-block; padding: 2px;"></div>
			                    <button type="button" class="img-add-more">
			                    <img src="https://uploader-assets.s3.ap-south-1.amazonaws.com/codepen-add-more-btn.png">
			                    </button>
		                    </div>
		                    <input type="file" name="uploadFile"  style="display:none" multiple="multiple">
	                  	</div>
					</div>

<!-- 뉴 -->
					<!-- <form method="post" action="/upload" enctype="multipart/form-data"> -->
					<!-- <input type ="file" name="filename" id="filename" </form>사진 -->
		
		
		
					<div class="field">
						<div class="label">제품 이름</div>
						<input type="text" id="oldTitle" name="oldTitle" maxlength="100" placeholder="최대 100자까지 쓸 수 있습니다.">
						<input type="hidden" id="userId" name="userId" th:value="${userId}"
							readonly><input type="hidden" id="oldState"
							name="oldState" th:value=1><input type="hidden"
							id="oldView" name="oldView" th:value=0>
					</div>
					
										<div class="field">
						<div class="label">카테고리</div>
						<select class="category" id="category" name="category">
							<option value="텐트">텐트</option>
							<option value="침대">침대</option>
							<option value="의자">의자</option>
							<option value="그릴">그릴</option>
							<option value="버너">버너</option>
							<option value="조명">조명</option>
							<option value="테이블">테이블</option>
							<option value="식기">식기</option>
							<option value="난로">난로</option>
							<option value="기타용품">기타용품</option>
						</select>
					</div>

					<div class="field">
						<div class="label">가격</div>
						<input type="text" id="oldPrice" name="oldPrice" maxlength="11" placeholder="가격이 낮아질수록 빨리 팔릴 확률이 올라가요~">
					</div>

					<div class="field">
						<div class="label">거래 지역</div>
						<input type="text" name="oldAddr" id="oldAddr" size="5"
							class="line" value="" readonlycheck=""> ( <input
							type="text" name="oldAddr[]" id="olaAddr0" size="3" class="line"
							value="" readonlycheck=""> - <input type="text"
							name="oldAddr[]" id="oldAddr1" size="3" class="line" value=""
							readonlycheck=""> )
					</div>

					<div class="field nextBtn">
						<button type="button">Next</button>
					</div>
				</div>

				<div class="page">
					<div class="title">Basic Info:</div>
					<div class="field temp">
						<div class="label">제품 설명</div>
						<textarea name="oldDetail" id="oldDetail" class="oldDetail"
							 maxlength="2000" placeholder="최대 2000자까지 쓸 수 있습니다."></textarea>
					</div>



					<div class="field btns">
						<button class="prev-1 prev" type="button">Previous</button>
						<button type="button" class="submit">Submit</button>
					</div>
				</div>

			</form>
		</div>
	</div>

	<script src="/js/jquery_min.js"></script>
	<script src="/js/addOld.js"></script>
	<!--     <script src="/js/addRentalReview.js"></script> -->

	<script type="text/javascript">
		var gfv_count = 1;

	
		$( ".submit" ).on("click" , function() {	
			
			 if ($(".img-preview-small").length <3) {
				
				 alert("이미지는 4장이상해줘")
				 return;
					  } else{

							
							var oldTitle = $("input[name='oldTitle' ]").val();
							var oldDetail = $("textarea[ name='oldDetail' ]").val();
							var oldPrice = $("input[ name='oldPrice' ]").val();
							var oldAddr = $("input[ name='oldAddr' ]").val();
							
														
						if (oldTitle == null || oldTitle.length < 1) {
							alert("상품명은 반드시 입력하여야 합니다.");
							return;
						}else if (oldDetail == null || oldDetail.length < 1) {
							alert("상품상세정보는 반드시 입력하여야 합니다.");
							return;
						}else if (oldPrice == null || oldPrice.length < 1) {
							alert("가격은 반드시 입력하셔야 합니다.");
							return;
						}else if (oldAddr == null || oldAddr.length < 1) {
							alert("가격은 반드시 입력하셔야 합니다.");
							return;
						}
																

						$("form").attr("method" , "POST").attr("action" , "/old/addOld").submit();			
							
					  }
		
			
		});
		$(document).ready(function(){
					
			$("#addFile").on("click", function(e){ //파일 추가 버튼
				e.preventDefault();
				fn_addFile();
			});
			
			$("a[name='delete']").on("click", function(e){ //삭제 버튼
				e.preventDefault();
				fn_deleteFile($(this));
			});
		});
		
		
		function fn_addFile(){
			var str = "<p><input type='file' name='file_"+(gfv_count++)+"'><a href='#this' class='btn' name='delete'>삭제</a></p>";
			$("#fileDiv").append(str);
			$("a[name='delete']").on("click", function(e){ //삭제 버튼
				e.preventDefault();
				fn_deleteFile($(this));
			});
		}
		
		function fn_deleteFile(obj){
			obj.parent().remove();
		}
	</script>

</body>

</html>