<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">


<head>

<meta name="viewport" content="width=device-width, initial-scale=1.0">

<link rel="stylesheet"
	href="https://codepen.io/gymratpacks/pen/VKzBEp#0">



<link rel="stylesheet" href="/css/addOld.css">

</head>

<body>

	<!-- 툴바 include -->
	<div th:replace="/main/toolbar.html"></div>
	<div th:replace="/main/leftbar.html"></div>


<!--  화면구성 div Start /////////////////////////////////////-->
	<div class="row">
		<div class="col-md-12">
			<form action="listOld" method="post">


				<fieldset>

					<legend> 중고거래 게시물 등록</legend>
					<div class="wrapper">
						<div class="box">
							<div class="js--image-preview"></div>
							<div class="upload-options">
								<label> <input type="file" class="image-upload"
									accept="images/*" />
								</label>
							</div>
						</div>

						<div class="box">
							<div class="js--image-preview"></div>
							<div class="upload-options">
								<label> <input type="file" class="image-upload"
									accept="image/*" />
								</label>
							</div>
						</div>

						<div class="box">
							<div class="js--image-preview"></div>
							<div class="upload-options">
								<label> <input type="file" class="image-upload"
									accept="image/*" />
								</label>
							</div>
						</div>
					</div>
					<br> <label for="name">카테고리</label> <select>
						<option value="${old.Category}">카테고리</option>
						<option value="${old.Category}">텐트</option>
						<option value="${old.Category}">침대</option>
						<option value="${old.Category}">조명</option>
						<option value="${old.Category}">테이블</option>
					</select> <br> <br> <label for="oldAddr">지역</label> <input
						type="email" id="oldDetail" placeholder="동 단위까지 기입"> <label
						for="name">제목</label> <input type="text" id="oldTitle"
						placeholder="제목"> <label for="oldDetail">내용</label> <input
						type="text" id="oldDetail" placeholder="4000자 이하">

				</fieldset>

				<button type="submit"  id="submit">등록하기</button>

			</form>
		</div>
	</div>

</body>
<script
	src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
<!-- Core theme JS-->


<script type="text/javascript">
	$(function() {

		//==> DOM Object GET 3가지 방법 ==> 1. $(tagName) : 2.(#id) : 3.$(.className)
		$("#submit").on("click", function() {

			fncAddOld();
		});
	});

	function fncAddOld() {
		var oldTitle = $('input[name="oldTitle"]').val();
		alert(title)
		var oldDetail = $('textarea[name="OldDetail"]').val();
		alert(content)
		$("form").attr("method", "POST").attr("action", "/oldd/addOld")
				.submit();

	}
</script>
<script src="/js/addOld.js"></script>
</html>
