
<!DOCTYPE html>
<html lang="en" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
<meta charset="utf-8" />
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no" />
<meta name="description" content="" />
<meta name="author" content="" />

<!-- Favicon-->
<link rel="icon" type="image/x-icon" href="assets/favicon.ico" />
<!-- Bootstrap icons-->
<link
	href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css"
	rel="stylesheet" />
<!-- Core theme CSS (includes Bootstrap)-->
<link href="/css/getOld.css" rel="stylesheet" />
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css">

<script src="https://developers.kakao.com/sdk/js/kakao.js"></script>

<script>
Kakao.init('d40eb19cdb656aa7607d531109f4364e');
Kakao.isInitialized();
</script>

</head>
<style>
	.custom{
		    background: #000;
    padding: 3px;
    color: #fff !important;
	}
	
	.custom a{
    color: #fff !important;
	}
	
	.custom:hover{
		  
    padding: 4px;
    color: #ecf542 !important;
	}
	
	.custom a:hover{
		  
    padding: 4px;
    color: #ecf542 !important;
	}
	
	.purchase-info a{
	color:#fff !important;
	}
	

.styled-select {
  border: 1px solid #ccc;
  box-sizing: border-box;
  border-radius: 3px;
  
  overflow: hidden;
  position: relative;
}
.styled-select, .styled-select select { width: 240px;}
select:focus { outline: none; }
.styled-select select {
  height: 34px;
  padding: 5px 0 5px 5px;
  background: transparent;
  border: none;
  
  /*hide default down arrow in webkit */
  -webkit-appearance: none; 
}

@-moz-document url-prefix(){
  .styled-select select { width: 110%; }
}

.fa-sort-desc {
  position: absolute;
  top: 0;
  right: 12px;
  font-size: 24px;
}


</style>



<body>
	<!-- Navigation-->
	<div th:replace="/main/toolbar.html"></div>

	<div class="card-wrapper">

		<div class="card">
			<!-- card left -->

			<div class="product-imgs">
				<div class="img-display">
				
<!-- 	////			큰 사진 ///-->
					<div class="img-showcase">
						<img th:each = "img : ${oldImgList}" th:src= "@{/images/uploadFiles/} + ${img.fileName}" >
					</div>

<!-- ////버튼///// -->
		
					<span sec:authorize="isAuthenticated()">
					<div class="buttons" th:if="${#authentication.principal.user.userId}==${old.userId}">
							
							<button type="button" class="btn custom" onclick="alert('삭제하시겠습니까?')" >
								<a th:href="@{/old/deleteOld(oldNo=${old.oldNo})}">삭제</a>
							</button>
							
							<button type="button" class="btn custom" >
								<a th:href="@{/old/updateOld(oldNo=${old.oldNo})}">수정</a>
							</button>
							
							<button type="button"  id="updateOldDate" class="btn custom"    onclick="js:datediff()"   >끌올
       							<a th:href="@{/old/updateOldDate(oldNo=${old.oldNo})}"></a>
							
							</button>
							
							
					</div>
					</span>
				</div>

<!--/// 밑에 조그만 사진들 ///-->
				<div class="img-select">
					<div class="img-item" th:each = "img,n : ${oldImgList}">
						<a href="#" data-id="1">
						<input type="hidden" class="imgid" th:value="${n.index+1}">
						 <img th:src="@{/images/uploadFiles/} + ${img.fileName}">
						</a>
					</div>
					
					</div>


			</div>
			<!-- card right -->
			<div class="product-content">

				<h2 class="product-title" id="oldTitle" th:text=${old.oldTitle}></h2>

				<div class="categoryaddr">

					<div class="category" th:text=${old.category}></div>
					/
					<div class="oldAddr" th:text=${old.oldAddr}></div>
					/ 조회
					<div class="oldView" th:text=${old.oldView}></div>
				</div>

				<div class="oldDate"  id="oldDate" th:text=${old.oldDate}></div>
			
				<div class="user">

					<table>
						<tr>
							<td>

								<div class="userProfile">


									<a th:href="@{/user/getUser(userId=${old.userId})}"
										style="height: 54;"> <img
										src="https://randomuser.me/api/portraits/men/52.jpg"
										alt="A man smiling" /></a>

								</div>

							</td>

							<td>
								<p>
									<span class="a" th:text=${old.userId}></span>
								</p>

								<div class="product-rating">

									<i class="fas fa-star"></i> <i class="fas fa-star"></i> <i
										class="fas fa-star"></i> <i class="fas fa-star"></i> <i
										class="fas fa-star-half-alt"></i> <span
										th:text=${oldReview.userRate}></span>

								</div>

							</td>
						</tr>
					</table>

				</div>

				<div class="purchase-info">
				<div class="loginUser">
					<span sec:authorize="isAuthenticated()">
					 <span class="hiddenUserId" style="display:none" sec:authentication="principal.user.userId" th:text="${#authentication.principal.user.userId}"></span>
					<a th:href="@{'http://192.168.0.42:3001/oldChat/init/'+${#authentication.name}+'/'+${old.oldNo}}" target=”_blank”>
					<button type="button" class="btn" th:if="${#authentication.principal.user.userId} !=${old.userId}">
					채팅하기
					<i class="fa-solid fa-comments"></i>
					</button>
					</a>
					</div>
					</span>
					
					<div class="logoutUser">
					<span sec:authorize="isAnonymous()">
					<button type="button" class="btn">
					
					<a th:href="@{/user/login}">
					채팅하기(login)
					</a>
						<i class="fa-solid fa-comments">
						 
						</i>
					</button>
					</span>
					</div>
			
		
	
		<section>
<button type="button" class="kakao mt-3 py-2 px-3" onclick="js:setShare()">
<img src="https://developers.kakao.com/assets/img/about/logos/kakaotalksharing/kakaotalk_sharing_btn_medium.png" />

</button>
</section>
	
	
				</div>


				<div class="kakaolike">

					<div class="social-links">
						<a href="#"> 공유하기 <!-- 			<img alt="" src="/images/content/kakao.png"></i> -->

						</a>

					</div>

					<div class="oldLike">

						<button type="button" class="btn">
							찜하기<i class="fa-solid fa-heart"></i>
						</button>

					</div>
				</div>
				

<!-- oldState 중고거래 상태 판매중 거래완료 -->
<div class="styled-select">
   <select>
     <option>판매중</option>
     <option>거래완료</option>
   </select>
 
  <span class="fa fa-sort-desc"></span>
</div>
				

				<div class="product-price">
					<!--         <p class = "last-price">Old Price: <span>$257.00</span></p> -->
					<span th:text=${old.oldPrice}></span> <span>원</span>
				</div>

				<div class="product-detail" id="Detail">



					<p class="oldDetail" id="oldDetail" th:text=${old.oldDetail}></p>

				</div>


	


			</div>

		</div>

	</div>
	<div class="container tempList">
		<div class="row">
			<div class="col-md-12">
			
				<h2>같은 카테고리의 물품들</h2>
				<div class="old-list">

					<!-- BEGIN old -->
					<div class="old" th:each="old : ${list}">
						<div class="owl-item active" style="width: 270px;">

							<div class="item" >
								<div class="try_rc_mob_box_wrapper">
									<div class="try_rc_mob_img">
										<img  width="300" height="205"  th:src="@{/images/uploadFiles/} + ${old.oldImg}" >
										<!--	<h5>Sale</h5>  -->
										<a href="#"><i class="fa fa-heart" aria-hidden="true"></i></a>
									</div>
									<div class="try_rc_mob_img_cont">
										<h2 class="product-title" id="oldTitle" th:text=${old.oldTitle}></h2>

									</div>
									<div class="try_rc_mob_img_cont_bottom">
										<p>
											<span class="new-price" th:text="|${old.oldPrice}원|"></span>
										</p>
										<div class="try_mob_btn_wrapper">
											<a th:href="@{/old/getOld(oldNo= ${old.oldNo})}">자세히 보기</a>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>


					<!-- END old -->


				</div>
				<!-- END old List -->

			</div>
		</div>
	</div>



<script th:inline="javascript">
/*<![CDATA[*/
function setShare(){
	var title = /*[[${old.oldTitle}]]*/ +')';
	var description = /*[[${old.oldDetail}]]*/ +')';

Kakao.Link.sendDefault({
	
  objectType: 'feed',
  content: {
    title: title,
    description: description,
 	
    imageUrl:
    	'/images/content/aaa.jpg',
    link: {
      webUrl: 'http://localhost:8080/old/getOld?oldNo=' + /*[[${old.oldNo}]]*/ +')',
    },
  },
 
});
}

function datediff(){
	
	var olddate = moment(  /*[[${old.oldDate}]]*/ );
	var today = moment();
	var diff = olddate.diff(today, "days");
	var confirmolddate = confirm("게시물을 끌어올리시겠습니까?");
	
	if (diff <=3){
		
		{  
			if(confirmolddate){
			
			alert("끌어올리기 완료");
			location.href='/old/updateOldDate?oldNo=' + /*[[${old.oldNo}]]*/ +')';
		}
		else{
			
			alert("끌어올리기 취소");
		}
		}
			
	} else {
		alert("등록일 또는 마지막 끌어올리기 날짜로부터 3일 이상 경과해야 합니다.");
		return;
	}
}

/*]]>*/
</script>



	<!-- Footer-->
	<div th:replace="/main/footer.html"></div>

	<script src="/js/getProduct.js"></script>
	<script src="/js/getOld.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.18.0/moment.min.js"></script>
<!-- 	<script src="/js/share.js"></script> -->
	
</body>



</html>