<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>

<!-- 참조  -->
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<link
	href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css"
	rel="stylesheet">
<link href="/css/listOld.css" rel="stylesheet" />
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css">

</head>
<style>
.card-img-top {
	border-radius: 10px !important;
}
</style>


<body>
	<!-- 툴바 include -->
	<div th:replace="/main/toolbar.html"></div>
	<div th:replace="/main/leftbar.html"></div>




	<!--  화면구성 div Start /////////////////////////////////////-->


	<p>
		<small>Source: <cite><a
				href="https://www.bjcp.org/stylecenter.php">BJCP Style
					Guidelines</a></cite></small>
	</p>
	<div class="container list">
		<div class="page-header text-info">
			<h3>중고거래 게시물 리스트</h3>
			<button align="right" class="btn btn-outline-dark flex-shrink-0"
				id="write" type="button">
				<i class="bi-pencil-fill"></i> 글쓰기
			</button>
		</div>



		<!-- table 위쪽 검색 Start /////////////////////////////////////-->
		<div class="row">

			<div class="col-md-6 text-left">
				<p class="text-primary">
					<!--전체  ${resultPage.totalCount } 건수, 현재 ${resultPage.currentPage}  페이지   -->

				</p>

			</div>

		</div>
		<!-- table 위쪽 검색 Start /////////////////////////////////////-->
		<!-- Page Heading -->


		<div class="tabset">
			<!-- Tab 1 -->
			<input type="radio" name="tabset" id="tab1" aria-controls="selling"
				checked> <label for="tab1">판매중</label>
			<!-- Tab 2 -->
			<input type="radio" name="tabset" id="tab2" aria-controls="sold">
			<label for="tab2">거래완료</label>
<!--     중고거래 게시물  판매중-->
			<div class="tab-panels">
				<section id="selling" class="tab-panel">
					<div class="row">
						<div class="col-lg-3 col-md-4 col-sm-6 mb-4" th:each="old :${list}">
<!-- 	//////////////////////////////////////////////////// -->
						
							<div class="item" th:if="${old.oldState==1}">
									<div class="try_rc_mob_box_wrapper">
										<div class="try_rc_mob_img">
									
											<img width="300" height="205" th:src="@{/images/content/eee.jpg}"/>
											
										<!--		<!--	<h5>Sale</h5>  -->  
											<a href="#"><i class="fa fa-heart"></i></a>
										</div>
										<div class="try_rc_mob_img_cont">
											<h2 th:text = ${old.oldTitle}></h2>
											
										</div>
										<div class="try_rc_mob_img_cont_bottom">
											
											
											<div class="try_mob_btn_wrapper">	
											<a th:href="@{/old/getOld(oldNo= ${old.oldNo})}">자세히 보기</a>
											</div>
										</div>
									</div>
								</div>
					</div>
					</div>
					</section>	
						
<!-- 				중고거래 게시물 거래완료 -->
				<section id="sold" class="tab-panel">
					<div class="row">
						<div class="col-lg-3 col-md-4 col-sm-6 mb-4" th:each="old :${list}">
							<div class="item" th:if="${old.oldState==0}">
									<div class="try_rc_mob_box_wrapper">
										<div class="try_rc_mob_img">
									
											<img width="300" height="205"  th:src="@{/images/content/bbb.jpg}"/>
										<!--		<!--	<h5>Sale</h5>  -->  
											<a href="#"><i class="fa fa-heart"></i></a>
										</div>
										<div class="try_rc_mob_img_cont">
											<h2 th:text = ${old.oldTitle}></h2>
											
										</div>
										<div class="try_rc_mob_img_cont_bottom">
												
											
											<div class="try_mob_btn_wrapper">	
											<a th:href="@{/old/getOld(oldNo= ${old.oldNo})}">자세히 보기</a>
											</div>
										</div>
									</div>
								</div>
					</div>
					</div>
					</section>	
			</div>

		</div>

		<!-- /.row -->

		<!-- Pagination -->
		<!-- 		페이지 -->
		<br>
		<br>
		<br>
		<br>
		<nav data-pagination>

			<ul>
				<li class="page-item"><a class="page-link" href="#"
					aria-label="Previous"> <span aria-hidden="true">&laquo;</span>
						<span class="sr-only">Previous</span>
				</a></li>
				<li class=current><a href=#1>1</a>
				<li><a href=#2>2</a>
				<li><a href=#3>3</a>
				<li><a href=#4>4</a>
				<li><a href=#5>5</a>
				<li><a href=#6>6</a>
				<li><a href=#7>7</a>
				<li><a href=#8>8</a>
				<li><a href=#9>9</a>
				<li class="page-item"><a class="page-link" href="#"
					aria-label="Next"> <span aria-hidden="true">&raquo;</span> <span
						class="sr-only">Next</span>
				</a></li>
			</ul>

		</nav>
	

 
</div>
	<!--  화면구성 div End /////////////////////////////////////-->



<script type="text/javascript">
	function fncGetList() {
		self.location = "/old/getOld?oldNo=" + $(this).children("input").val();
		// 	$("form").attr("method" , "GET").attr("action" , "/old/getOld").submit();

	}

	

	$(function() {

		//==> DOM Object GET 3가지 방법 ==> 1. $(tagName) : 2.(#id) : 3.$(.className)
		$(".try_mob_btn_wrapper").on(
				"click",
				function() {

					self.location = "/old/getOld?oldNo=" + $(this).children("input").val();
				});
	});

	$(function() {

		//==> DOM Object GET 3가지 방법 ==> 1. $(tagName) : 2.(#id) : 3.$(.className)
		$("#write").on("click", function() {

			self.location = "/old/addOld";
		});
	});

</script>
</body>
</html>