
<style>
.leftBarNav {
    width: 170px;
    float: left;
    margin: 54px 40px 0px 0px;
    font-family: Musinsa, "Apple SD Gothic Neo", "Noto Sans KR", sans-serif;
    font-size: 14px;
    padding: 60px 10px 10px 30px;
}
.leftBarNav > h2 {
    overflow: hidden;
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    clip: rect(0px, 0px, 0px, 0px);
}
.leftBarNav > span {
    font-size: 16px;
    line-height: 20px;
    color: rgb(20, 170, 255);
}
.leftBarMenu {
    display: flex;
    flex-direction: column;
    padding-bottom: 15px;
}

.leftBarMenu > h3 {
    padding: 13px 0px 2px;
    font-size: 24px;
    font-weight: normal;
    line-height: 40px;
}

.leftBarMenu >  div {
    display: flex;
    margin-top: 2px;
    font-size: 16px;
    line-height: 40px;
    color: rgb(110, 110, 110) !important;
}

.leftBarMenu > ul > li{
	padding-left:10px;
}
</style>

<body>
<nav class="leftBarNav">
<h2>Mypage Navigation Menus</h2>
<span></span>
<div class="leftBarMenu"><h3>관리메뉴</h3>
<div>회원관리</div>
	<ul>
		<li>입력해주세요</li>
		<li>입력해주세요</li>
		<li>입력해주세요</li>
		<li>입력해주세요</li>
		<li>입력해주세요</li>
	</ul>
<div>중고물품관리</div>
<div>보관물품관리</div>
<div>대여물품관리</div>
<div>고객센터</div>
<button type="button">임시버튼</button>
<div>

</div>
</nav>
</body>

<sciprt>

</sciprt>